/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* universal properties */
*{
    padding: 0;
    margin: 0;

}

/* imported fonts */

.roboto{
    font-family: 'Roboto', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* bg */
body{
    background: linear-gradient(rgb(22,60,185),rgb(128,157,240));

}

/* some bootstarp properties */
/* container view */
.container{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: -1;
    display: flex;
}
#skills > div , #contact > div{
    width: 50%;
}
.container > div{
    width: 50%;
}


/* menu bar */
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(4px);
    background-color: transparent;
}
.menu{
    display: flex;
    gap: 26px;
}
.menu-links{
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.active{
    text-decoration: underline;
}

/* home page */



.connect-icon{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: last baseline;
    animation: icon-on-load;
    animation-duration: 2s;
    animation-iteration-count: 1;
    position: absolute;
    right: 70px;
    
}

.icon{
    width: 40px;
}

.icon:hover{
    transform: scale(1.2);
}

@keyframes icon-on-load {   
    from{
        opacity: 0;
        right: 0;
    }
}

.page-btn{
    width: 80px;
    height: 34px;
    display: block;
    margin: auto;
    border: none;
    background: rgb(43, 41, 41);
    opacity: 0.5;
    bottom: 0;
    text-decoration: none;
    position: absolute;
    left: 50%;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
}
/* graphic css */

.graphic{
    display: flex;
    align-items: center;
}
.image-3d{
    width: 70%;
    filter: drop-shadow(navy 18px 28px 10px);

}

.home-image{
    position: absolute;
    bottom: 80px;
    right: 400px;
    width: 900px;
 
}

.contact-image{
    transform: rotateY(180deg);
}    


/* skill banner  */
.banner{

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner > div{
    width: 700px;
    height: 700px;
    transform: rotateZ(45deg);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
/* for even index of skills */
.square:nth-child(even){
    width: 180px; 
    height: 180px; 
    background-color: white;  
    position: relative;  
    margin: 20px;  
    box-shadow: rgb(228, 227, 227) 2px 2px 3px 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 177, 76);
  }
  /* for odd index of skills */
.square:nth-child(odd){
    width: 180px; 
    height: 180px; 
    background-color: rgb(216, 177, 76);  
    position: relative;  
    margin: 20px;   
    box-shadow: rgb(230, 186, 74) 2px 2px 3px 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

.square:hover{
    cursor: pointer;
    transform: scale(1.1);
}

  .skill-name{
    transform: rotateZ(-45deg);
  }


/* mobile view */